.form-group {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.row {
    margin: auto;
    width: 100%;
    padding: 10px;
}

h2 {
    padding: 15px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

